@charset "utf-8";
/* CSS Document */

/* 基本設定と初期化設定 */

*{
	margin:0; padding:0;
}
option{
	padding-left:0.4em;
}
* html body *{
	overflow:visible;
}
* html iframe,* html frame{
	overflow:auto;
}
* html frameset{
	overflow:hidden;
}
html{
	height:100%;
}
body{
	min-height:100%;
	font-size:100%;
	color:#222;
	text-align:left;
	font-family:"ＭＳ ゴシック", "MS Gothic", "Osaka－等幅", Osaka-mono, monospace;
}
fieldset, img{
	border:0 solid;
}
ul, ol, dl{
	margin:0 0;
}

li{
	line-height:1.5em;
	list-style-type:none;
	
}
dt{
	font-weight:700;
}
dd{
	margin:0 0 1em 2em;
}
blockquote, cite{
	font-size:0.93em;width:auto;margin:0 0 1em 1.5em;
}
